{% extends "base.html" %}
{% block body_block %}

         <div class="row padMar col-sm-12 col-md-12 col-lg-12col-xl-12 mx-auto">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 padMar d-none d-sm-block d-md-block d-lg-block d-xl-block" style="max-width: 100%;">
            <ol class="breadcrumb info-color" style="margin-top: 10px;max-width: 100%;">
                <li class="breadcrumb-item active"><span style="color: white;"> Meetings </span></li>
                <li class="breadcrumb-item"><span style="color:white;"> Meeting</span></li>
            </ol>
        </div>

    </div>
<div class="container">
  <div class="jumbotron">
   <h1>Meeting Informations</h1>
        {% if meeting.submitted %}
            <div class="form-group " align="right">
                <div class="col-sm-offset-2 col-sm-10">
                      <a class="navbar-link" href="{% url 'Reunion:submit_meeting' meeting.id %}"><button class="btn btn-sm">
                          <i class="fas fa-times"  style="font-size: 36px;color: red;" ></i>Not share</button>
                      </a>

                </div>
            </div>
        {% else %}
             <div class="form-group " align="right">
                <div class="col-sm-offset-2 col-sm-10">
                    <a class="navbar-link" href="{% url 'Reunion:edit_meeting' meeting.id %}"><button  class="btn btn-sm"><i class="fas fa-edit" style="font-size: 36px;color: blue;"></i>Edit</button></a>
                    <a class="navbar-link" href="{% url 'Reunion:submit_meeting' meeting.id %}"><button class="btn btn-sm"><i class="far fa-paper-plane"  style="font-size: 36px;color: green;" ></i>Share</button></a>
                    <a class="navbar-link" href="{% url 'Reunion:delete_meeting' meeting.id %}" onclick="return confirm('Are you sure you want to delete the Meeting?')">
                        <button class="btn btn-sm"><i class="far fa-trash-alt"  style="font-size: 36px;color: red;" ></i>Delete</button></a>

                </div>
            </div>
        {% endif %}
  <br>
  <div class="row">
      <div class="col-3"><h3><i class="far fa-calendar-alt"></i></h3></div>

      <div class="col-3"> <h3><i class="far fa-clock"></i></h3></div>
      <div class="col-3"><h3><i class="fas fa-map-marker-alt"></i></h3></div>
      <div class="col-3"><h3><i class="fas fa-feather"></i></h3></div>
 </div>
   <div class="row">
      <div class="col-3"><h5>  {{meeting.date}}</h5></div>

      <div class="col-3"> <h5>{{meeting.time}}</h5></div>
      <div class="col-3"><h5>{{meeting.place}}</h5></div>
      <div class="col-3"><h5><img  src="/media/{{ meeting.rapporteur.user.avatar }}"  alt="picture" style="width:50px;">
    {{meeting.rapporteur.first_name}} {{meeting.rapporteur.last_name}}</h5></div>
 </div>



<br><br>
   <hr style="width: 100%; color: black; height: 2px; background-color:black;">
        <h4><i class="fas fa-users"></i><strong> Collaborators</strong></h4>
  <br>

<table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Date</th>

        {% if not meeting.submitted %}
      <th scope="col">Invite/Delete</th>
            {% else %}
            <th scope="col">Answer</th>
              <th scope="col">Details</th>
        {% endif %}
    </tr>
  </thead>
  <tbody>

      {% for invitation in all_invitations %}

           <tr>
      <td><img class="rounded-circle"  src="/media/{{ invitation.collaborateur.user.avatar }}"  alt="picture" style="width:50px;"></td>
      <td>{{invitation.collaborateur.first_name}}</td>
      <td>{{invitation.collaborateur.last_name}}</td>
      <td>{{invitation.collaborateur.email}}</td>
               <td>{{invitation.date}}</td>


                {% if not meeting.submitted %}
                           <td>  <a href="{% url 'Reunion:delete_invitation' invitation.id %}" ><button class="btn btn-sm"><i class="far fa-trash-alt"  style="font-size: 24px;color: red;" ></i>
                               </button></a>
                           </td>
                {% else %}
                             {% if invitation.confirmation == "P" %}
                           <td><h3><i class="far fa-thumbs-up text-success"></i></h3></td>
                           {% elif  invitation.confirmation == "A" %}
                       <td><h3><i class="fas fa-times text-danger "></i></h3></td>
                       {% else %}
                           <td></td>
                       {% endif %}
                       <td>  <a href="{% url 'Reunion:detail_invitation' invitation.id %}" ><button class="btn btn-sm"><i class="fas fa-info-circle"  style="font-size: 24px;color: blue;" ></i>
                               </button></a>
                           </td>

                {% endif %}
    </tr>


      {% endfor %}
{% if not meeting.submitted %}

      {% for collaborateur in collaborateurs_not_invited %}

           <tr>
      <td><img class="rounded-circle"  src="/media/{{ collaborateur.user.avatar }}"  alt="picture" style="width:50px;"></td>
      <td>{{collaborateur.first_name}}</td>
      <td>{{collaborateur.last_name}}</td>
                <td>{{collaborateur.email}}</td>
               <td>----</td>


            <td><a class="navbar-link" href="{% url 'Reunion:add_invitation' meeting.id collaborateur.id %}"><button class="btn btn-sm">
                <i class="fas fa-plus "  style="font-size: 24px;color: #0b51c5;" ></i></button></a>
            </td>

    </tr>


      {% endfor %}
  {% endif %}
  </tbody>
</table>
 <hr style="width: 100%; color: black; height: 2px; background-color:black;">

     <h4><strong>Points</strong></h4>

       <table class="table table-striped ">
  <thead>
    <tr>

      <th scope="col">Number</th>
      <th scope="col">Title</th>
        <th scope="col">Explication</th>

        {% if not meeting.submitted %}
      <th scope="col">Edit/Delete</th>
        {% endif %}
    </tr>
  </thead>
  <tbody>

      {% for point in points  %}
         <tr>
         <td>{{point.ordre}}</td>
          <td>   <strong>{{point.titre}}</strong></td>
          <td>    {{point.explication}}</td>
             {% if not meeting.submitted %}
             <td>
                  <a class="navbar-link" href="{% url 'Reunion:edit_point' point.id  %}">  <button class="btn btn-sm"> <i class="fas fa-edit" style="color: #0b51c5;"></i></button></a>
                 <a class="navbar-link" href="{% url 'Reunion:delete_point' point.id  %}"> <button class="btn btn-sm">  <i class="fas fa-trash-alt" style="color: red;" ></i></button></a>

             </td>
         {% endif %}

         </tr>


      {% endfor %}
    </tbody>
</table>
  {% if not meeting.submitted %}
  <hr style="width: 100%; color: black; height: 2px; background-color:black;">
       <h4><strong>Add Point</strong></h4>
        <form class="form-horizontal" action="" method="post" >
              {% csrf_token %}

        {%  include "meetings/form-template.html" %}
   <div class="form-group " align="right">
                <div class="col-sm-offset-2 col-sm-10">
                     <button type="reset" class="btn btn-danger">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
{% endif %}




  </div>
</div>
{% endblock %}