{% extends "base.html" %}
{% block body_block %}

         <div class="row padMar col-sm-12 col-md-12 col-lg-12col-xl-12 mx-auto">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 padMar d-none d-sm-block d-md-block d-lg-block d-xl-block" style="max-width: 100%;">
            <ol class="breadcrumb info-color" style="margin-top: 10px;max-width: 100%;">
                <li class="breadcrumb-item active"><span style="color: white;"> Invitations </span></li>
                <li class="breadcrumb-item"><span style="color:white;"> Invitation</span></li>
            </ol>
        </div>

    </div>
<div class="container">
  <div class="jumbotron">
   <h1>Invitation Informations</h1>


  <br>
  <div class="row">
      <div class="col-3"><h3><i class="far fa-calendar-alt"></i></h3></div>

      <div class="col-3"><h3><i class="fas fa-users"></i></h3></div>
      <div class="col-3"><h3><i class="fas fa-user"></i>  {{invitation.collaborateur.first_name}} {{invitation.collaborateur.last_name}}</h3></div>
 </div>
   <div class="row">
      <div class="col-3"><h5>  {{invitation.date}}</h5></div>

      <div class="col-3"> <h5> Meeting {{invitation.meeting.id}}</h5></div>
      <div class="col-3"><img  src="/media/{{ invitation.collaborateur.user.avatar }}"  alt="picture" style="width:200px;">

      </div></div>
      <div class="row">
          <h5>Confirmation: </h5>
           {% if invitation.confirmation == "P" %}

                      <i class="far fa-thumbs-up"  style="font-size: 24px;color: green;" ></i>
           {% elif invitation.confirmation == "A"  %}
                          <i class="fas fa-times"  style="font-size: 24px;color: red;" ></i>
           {% else %}
            <p> Not confirmed yet</p>
           {% endif %}
       </div>
  <div class="row">
            <h5>Answer: </h5>
      {% if invitation.reponse %}
             <p> {{invitation.reponse}}</p>
      {% endif %}
  </div>




   <hr style="width: 100%; color: black; height: 2px; background-color:black;">






  </div>
</div>
{% endblock %}